.container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }
  
  .folder-item {
    background: tomato;
    padding: 5px;
    width: 180px;
    height: 100px;
    margin-top: 10px;
    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  }
  
  .img-item {
    padding: 5px;
    margin-top: 10px;
  }

  a {
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    text-decoration: transparent;
  }