<!DOCTYPE html>
<html>
  <head>
    <title>Pictures</title>
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
  </head>
  <body>
    <ul class="container">
    {{#each folders}}
    <li class="folder-item"><a href="dirs/{{this}}">{{this}}</a></li>
    {{/each}}
    </ul>
  </body>
</html>