<!DOCTYPE html>
<html>
  <head>
    <title>Pictures</title>
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
  </head>
  <body>
    <ul class="container">
    {{#each imgs}}
    <li class="img-item"><a href="/files/{{this.ImgName}}"><img src="/files/{{this.ThumbnailName}}"/></a></li>
    {{/each}}
    </ul>
  </body>
</html>